PORT=5000
APP_URL=http://localhost:5000

# log
LOG_LEVEL=info
LOG_OUTPUT=console
LOG_FILE_PATH=logs/app.log


# gemini ai
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.0-flash

# file upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=50
